ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
}


li {
    float: left;
}


a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}


#runningtext {
    width: 100%;
    height: 25px;
    padding-top: 7px;
    margin: 5px 0 5px 0;
    background-color: cornflowerblue;
    color: rgb(250, 250, 249);
    position: relative;
}